In [1]:
# Q2
# create variable spam
spam = [2, 4, 6, 8, 10]

# change the third value to "hello"
spam[2] = "hello"

# print to check the result
print(spam)

[2, 4, 'hello', 8, 10]

In [4]:
# Q3
# Create a variable called 'letters' that contains ['a',  'b',  'c', 'd'].
letters = ['a', 'b', 'c', 'd']

# What does letters[int(int('3'*2)//11)] evaluate to? Explain why in a comment.
result_b = letters[int(int('3'*2)//11)]
print("letters[int(int('3'*2)//11)] =", result_b)
print("When evaluating letters[int(int('3'*2)//11)], the expression '3'*2 produces the string '33'. Converting this with int('33') gives the integer 33. Dividing 33 by 11 using floor division (33//11) results in 3, and int(3) is still 3. Finally, letters[3] accesses the fourth element of the list letters, which is 'd'.")

# What does letters[-1] evaluate to? Explain why in a comment.
result_c = letters[-1]
print("letters[-1] =", result_c)
print("Index -1 refers to the last element of the list, so it returns 'd'")

# What does letters[:2] evaluate to? Explain why in a comment.
result_d = letters[:2]
print("letters[:2] =", result_d)
print("[:2] slices the list from the beginning up to, but not including, index 2, so it returns ['a', 'b']")

letters[int(int('3'*2)//11)] = d
When evaluating letters[int(int('3'*2)//11)], the expression '3'*2 produces the string '33'. Converting this with int('33') gives the integer 33. Dividing 33 by 11 using floor division (33//11) results in 3, and int(3) is still 3. Finally, letters[3] accesses the fourth element of the list letters, which is 'd'.
letters[-1] = d
Index -1 refers to the last element of the list, so it returns 'd'
letters[:2] = ['a', 'b']
[:2] slices the list from the beginning up to, but not including, index 2, so it returns ['a', 'b']

In [7]:
# Q4

# A sample list
my_list = ['a', 'b', 'c', 'd']

# Convert list to tuple
my_tuple = tuple(my_list)
print("Tuple form of list:", my_tuple)

# Convert tuple back to list
back_to_list = list(my_tuple)
print("List form of tuple:", back_to_list)

Tuple form of list: ('a', 'b', 'c', 'd')
List form of tuple: ['a', 'b', 'c', 'd']

In [8]:
# Q5

def comma_code(items):
    """
    Accepts a list and returns a string with all items separated by commas,
    and 'and' before the last item.
    Variable:
    item -- list of strings
    """
    if len(items) == 0:
        return ""
    elif len(items) == 1:
        return items[0]
    else:
        return ', '.join(items[:-1]) + ', and ' + items[-1]

# Result
spam = ['apples', 'bananas', 'tofu', 'cats']
result = comma_code(spam)
print("Original list:", spam)
print("Formatted string:", result)

Original list: ['apples', 'bananas', 'tofu', 'cats']
Formatted string: apples, bananas, tofu, and cats